
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  color: white;
}

h2 {
  color: white;
  margin-bottom: 5px;
  margin-top: 30px;
}

.postTask h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
}

nav {
  margin: 20px 10px;
}

#leftLinks {
  float: left;
  margin-top: 5px;
}

#rightLinks {
  float: right;
  margin-top: 5px;
}

a {
  text-decoration: none;
  font-size: 17.5px;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  color: white;
}

a:hover {
  color: #282c34;
  background-color: #e5e5e5;
  transform: scale(1.5);
  box-shadow: 2.5px 5px (#232121);
  /* background: linear-gradient(-45deg, #b9dcf2 0%, #f6cfbe 100% ); */
}

input {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 15px;
  border: none;
}

#searchbar {
  margin-left: 30px 40px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  color: white;
  background-color: #282c34;
  /* border: 1px solid white; */
  box-shadow: 1.5px 2.5px  #e0d3c9;
  opacity: var(0.3);
}

button:hover {
  color: #282c34;
  background-color: white;
  transform: scale(1.25);
  box-shadow: 2.5px 5px linear-gradient(-45deg, #b9dcf2 0%, #f6cfbe 100% );
  /* background: linear-gradient(-45deg, #b9dcf2 0%, #f6cfbe 100% ); */
  opacity: var(0.7);
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginform {
  margin: 0px 10px;
  padding: 15px;
  border-radius: 20px;
}

.loginbutton {
  margin: 15px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 15px;
}

.signupinput {
  padding: 15px;
  border-radius: 20px;
}

.signupbutton {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}

button {
  margin: 10px;
}

.taskbuttons {
  border-radius: 5px;
}

.homeimage {
  max-width: 30vw;
  max-height: 30vh;
}

.homeheading {
  margin-top: 10px;
}

.posttaskinput, .datePicker, .workerinput {
  padding: 15px;
  border-radius: 20px;
}

.posttasktext {
  color: white;
  margin-bottom: 0;
  margin-top: 30px;
}

.homeheading {
  margin-top: 30px;
  color: #a3d2ef;
  font-size: 40px;
}

.posttaskheading {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 50px;
  color: white;
  font-weight: bold;
}

.taskDetails {
  font-family: 'Noto Sans Mono';
  max-width: 30vw;
  margin: 10px;
  padding: 5px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 254, 254, 0.2);
  cursor: pointer;
}

.postTask {
  background-color: rgba(253, 253, 253, 0.1);
  width: 400px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border-radius: 30px;
  /* border: 2px solid white; */
}

.signup {
  background-color: rgba(253, 253, 253, 0.1);
  width: 400px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
  /* border: 2px solid white; */
}

.login {
  background-color: rgba(253, 253, 253, 0.1);
  width: 70vw;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.routes {
  padding: 20px;
}
